{
  "env": "dev",
  "account_name": "aws-kos-dev",
  "account_id": "000000000000",
  "aws_profile": "aws-kos-dev",
  "landscape": "kos",
  "route53_account_id": "000000000000",
  "dns_manager_role_arn": "arn:aws:iam::000000000000:role/role-EXAMPLE-root-ue1-dns_manager",
  "artifact_bucket": "s3-EXAMPLE-mgmt-ue1-shared-lambda",
  "oidc_subjects": [
    "EXAMPLE_GITHUB_ORG/easycmdb-api:*",
    "EXAMPLE_GITHUB_ORG/easycmdb-web:*"
  ]
}
